.tracking-in-expand {
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.line-tracking-in-expand {
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
	font-weight: normal;
	font-size: 100px;
	margin-top: -85px;
}

@keyframes line-tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.scale-up-ver-top {
        animation: scale-up-ver-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
	font-size: 2em;
	line-height: 0;
}

@keyframes scale-up-ver-top {
  0% {
            transform: scaleY(0.4);
            transform-origin: 100% 0%;
			opacity: 0;
  }
  100% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
			opacity: 1;
  }
}
